In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../dataset/clean/minute_data.csv', header=0)

In [5]:
df.head()

,dateTime,calories,distance,steps,max,min,mean,median,std,pid
0,2019-11-01 00:00:00,1.39,0,0,56,51,52.777778,52.0,1.641476,1
1,2019-11-01 00:01:00,1.39,0,0,58,52,54.000000,53.0,2.267787,1
2,2019-11-01 00:02:00,1.39,0,0,54,50,52.500000,53.0,1.414214,1
3,2019-11-01 00:03:00,1.39,0,0,57,52,53.636364,53.0,1.629278,1
4,2019-11-01 00:04:00,1.39,0,0,58,51,53.555556,53.0,2.185813,1

In [6]:
df_renamed = df.rename(
       {
           'max':'hr_max',
           'min':'hr_min',
           'mean':'hr_mean',
           'median':'hr_median',
           'std':'hr_std'
       }
)

In [7]:
df_renamed.to_csv('../dataset/clean/minute_data_v2.csv', index=False, header=True)